<!-- <p>Established in 2016, Maqta Gateway – a wholly-owned subsidiary of AD Ports Group – is a facilitator of technologically advanced, innovative solutions for the trade and logistics sectors, designed to enable integrated digital global trade.

    In supporting AD Ports Group’s digitalisation strategy, Maqta Gateway is spearheading the digital mandate of Abu Dhabi ’s maritime, trade, and government services. It has developed and operates the Advanced Trade & Logistics Platform (ATLP), under the supervision of the Department of Economic Development.  </p> -->
<div class="container">
    <img class="container__image"  src="../../assets/Social full.jpg" height="564px" width="50%" alt="My Image" />
    <div class="container__text">
        <h1 class="mainHeading">Maqta Gateway</h1>
        <p>Established in 2016, Maqta Gateway – a wholly-owned subsidiary of AD Ports Group – is a facilitator of
        technologically advanced, innovative solutions for the trade and logistics sectors, designed to enable
        integrated digital global trade.<br>
        In supporting AD Ports Group’s digitalisation strategy, Maqta Gateway is spearheading the digital mandate of Abu
        Dhabi ’s maritime, trade, and government services.<br> It has developed and operates the Advanced Trade &
        Logistics Platform (ATLP), under the supervision of the Department of Economic Development.</p>

    </div>
</div>